// default colors 
:root{
    --primaryColor:#6F11E1;
    --secondryColor:  #4f3fa1;
    --textColor: #a3a3a3;
    --greyColor:#f4f4f4;
    --whiteColor:#FFFFFF;
    --blackColor:#404040;
    
   }

// ****** styles ******
.header{
    position: fixed;
    display: flex;
    background-color:var(--whiteColor);
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1.5rem 2rem;
    box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    //logo section in the left
    .logoDiv {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 1rem 0;
        .logo{
            width: 100%;
            height: 2.5rem;
            margin-left: 0.5rem;
            padding: 0.1rem
        }
        .logoBag{
            height: 4rem;
        }
        .logoText{
            padding: 0.5rem;
        }
    }
    }
    //menu bar middle
    .navbar{
        display: flex;
        align-items: flex-end;
        padding: 1rem 0;
        margin-right: 8rem;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                font-size: 20px;
                font-weight: 500;
                margin: 0 2rem;
                &:hover{
                    padding-bottom: 10px;
                    border-bottom: 2px solid var(--primaryColor);
                }
            }
        }
    }
    //add product section and bag logo(left)
    .product{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        .text{
            padding: 0.8rem;
            background: var(--primaryColor);
            border-radius: 3px ;
            color: var(--whiteColor);
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            span{
                margin-left: 0.5rem;
                font-weight: 400;
                font-size: 1.2rem;
            }
            .plus{
                font-size: 1.2rem;
            }
            &:hover{
                background-color: var(--secondryColor);
                transition: 0.5s;
            }
        }
        .bagContainer{
            background-color: var(--primaryColor);
            margin-right: 2rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            .bag{              
                border-radius: 5px;
                color: var(--whiteColor);
                font-size: 1.2rem ;
                font-size: 30px;
            }
        }
    }
    //**** don't need to change ****
    @media screen and (max-width:768px) {
        .navbar{
            position: absolute;
            background-color: var(--secondryColor);
            width: 80%;
            top: -250%;
            right: 50%;
            left: 50%;
            transform: translate(-50%);
            border-radius: 10px; 
            text-align: center;
            padding: 2rem;
            transition:  0.3s ease;
            z-index: 2000;

            .closeIcon{
                position: absolute;
                bottom:  -15px;
                right: 50%;
                left: 50%;
                transform: translate(-50%);
                background: var(--secondryColor);
                color: var(--primaryColor);
                padding: 3px;
                border-radius: 50%;
                font-size: 35px;
                &:hover{
                color:  red;
              
            }
            }
            .menu{
                display: flex;
                align-items: center;
                flex-direction: column;

                .listItem{
                    padding:  0.5rem 1rem;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.3 ease;

                    a{
                        font-size: 15px;
                    }
                    &:hover{
                        background: var(--primaryColor);
                        color: var(--whiteColor);
                        transition: 0.3 ease;
                    }
                    &:hover a{
                        background: var(--primaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        } 
        .showNavbar{
            top: 12rem;
            transition: 0.8s ease;
        }
    }   
    // * * * * * * * * * * * * * * * ********** 


.addBg{
    background-color: var(--secondryColor) ;
    box-shadow: none;
}