:root{
    --primaryColor:#6F11E1;
    --secondryColor:  #4f3fa1;
    --textColor: #a3a3a3;
    --greyColor:#f4f4f4;
    --whiteColor:#FFFFFF;
    --blackColor:#404040;
    --backColor: #E4E4E4;
}
.modalProduct{
    position: fixed;
    z-index: 1000;
    border-radius: 10px;
    border: 10px solid fuchsia;
    margin: 0 50% 0 0;
    width: 30%;
    left: 38%;
    top:25%;
    transition: all 0.3s ease-out;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .headerProductModal{
        background-color: var(--backColor);
        display: flex;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: space-between;
    }
    .pro{
        display: flex;
        border: 10px solid red;
        justify-content: center;
        align-items: center;
        background-color: white;

        .information{
            h4{
                font-weight: 500;
                font-size: 16px;
            }
            p{
               font-weight: 400;
               font-size: 14px; 
            }
        }
    }
}