:root{
    --primaryColor:#6F11E1;
    --secondryColor:  #4f3fa1;
    --textColor: #a3a3a3;
    --greyColor:#f4f4f4;
    --whiteColor:#FFFFFF;
    --blackColor:#404040;
   }
.sort{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .banner{
        width: 100%;
    }
    .sortSection{
        display: flex;
        width: 80%;
        padding: 1rem 0;
        justify-self: start;
        border-bottom: 0.5px solid var(--textColor);
        div{
            margin: 0 1.2rem;
            font-weight: 400;
            font-size: 14px;
            cursor: pointer;
        }
        .sorting{
            font-weight: 500;
        }
    }
    .products{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

